<div class="logo" style="float: left;"> <img src="#" ></div>
 <div class="nav">
 <a href="#">HOME</a>
 <a href="#" >WE THE PLACIBOO</a>
 
 <div class="dropdown">
 <button class="dropbtn" style="margin-left: 90px;">  BUISNESS & RETURN</button>
 <div class="dropdown-content">
 <a href="#" >Service Provider </a>
 <a href="#">Vendor</a>
 <a href="#" >Sponsors</a>
 </div>
 </div>
 <a href="#">CONTACT US </a>
 
 <a href="#" style="border: 1px solid #1DCB8B; border-radius: 50px;background-color: #1DCB8B" >REGISTER</a>
 </div>
 <div>
 <img src="../assets/image 35.png" style="width: 1440px; opacity: 0.9; filter:brightness(40%); position: relative;">
 <h1 class="megaevent">Mega Event</h1>
 <table style="   position: absolute;">
    <tr>
        <td>
            1 August 2023
        </td>
        <td>
            Chennai
        </td>
        <td>
            <a href="#" style="background-color: #1DCB8B;color: white;text-decoration: none;">JOIN NOW<img src="../assets/akar-icons_arrow-right.png"></a>
        </td>
    </tr>
 </table>
 <img src="../assets/22d 13h 46m 18s.png" style="position: absolute; margin-left: -1400px;  margin-top: 700px;"> </div>
 <img src="../assets/Frame 41089.png">
 <img src="../assets/Frame 41090.png">
 <img src="../assets/Frame 41099.png">
 <div style="background-color: #1DCB8B; width:1440px; height: 750px; margin-top: -100px;" class="planningyourbuisness" > 
 <h1 style="color: white; font-size: 600%; margin-left: 250px;padding: 30px; "><pre >
    PLANNING YOUR 
           BUISNESS </pre></h1>
    
           <div style="float: left; margin-left: 480px;"><a href="#" style="color: #1DCB8B; background-color: white;border: 1px solid white;cursor: pointer; padding: 20px;font-size: 200%;" >Let's Talk</a></div>
           <div ><a href="#"  style="border: 1px solid white; color: white; background-color: #1DCB8B; padding: 20px; margin-left: 70px; font-size: 200%; cursor: pointer;" >See Our Services</a></div>

 </div>
 
<div class="agenda" style="position: relative;margin-top: 700px; height: 600px; width:1440px; background-color: #151A2C;" > 
<div > 
<h1 style="color: white;">Agenda</h1>
<br><br>
<img src="../assets/Rectangle 34625821.png">
</div>
<div class="time1">10:00AM</div>
<div class="time2">11:00AM</div>
<div class="time3">12:00PM</div>
<div class="time4">13:00PM</div>



<div class="timeline" style="position: absolute;"></div>
<div class="circle1" ></div>
<div class="circle2" ></div>
<div class="circle3" ></div>
<div class="circle4" ></div>


<div class="events1">
<pre>Event Inaguration</pre> 
</div>
<div class="events2">
<pre>Guest Speech </pre> 
</div>
<div class="events3">
<pre>Lunch</pre>  </div>
<div class="events4">
<pre>Prize Distribution </pre> </div>


<div class="joinnow1"><a href="#"  style="cursor: pointer;"><pre>Join Now</pre> </a> </div>
<div class="joinnow2"><a href="#" style="cursor: pointer;"><pre>Join Now</pre> </a> </div>
<div class="joinnow3"><a href="#"style="cursor: pointer;"><pre>Join Now</pre></a> </div>
<div class="joinnow4"><a href="#" style="cursor: pointer;"><pre>Join Now</pre> </a> </div>
<br><br>

<div style="border: 2px solid #1DCB8B; color: #1DCB8B; margin-left: 30px; width: fit-content; padding: 10px;">Download Brochure  <img src="../assets/material-symbols_download-sharp.png" ></div>
</div>
<img src="../assets/Frame 41095.png">
<div class="footer" style="background-color: #151A2C; height: 580px; width: 1440px;">

    <div style="float: left; font-size: 120%;" >
      <pre style="color: whitesmoke; margin-top:150px">
      It is a long established fact that 
      a reader will be distracted by
      the readable content of a page 
      when looking at its layout. The
      point of using Lorem Ipsum is
      that it has a more
      </pre>
    </div>
    <div style="float: left;  ">
     
        <ul style="font-size:120%; margin-top: 50px; ">
          <li><b>Service</b></li><br>
          <li><a href="#">Investor</a></li>
          <li><a href="#">Sponsors</a></li>
          <li><a href="#">Service Providers</a></li>
          <li><a href="#">Vendors</a></li>
          <li><a href="#">Volunteer's</a></li>
          <li><a href="#">NGO's</a></li>
        </ul>
    
    </div>
    <div style="float: left;">
      <ul style="font-size:120%; margin-top: 50px;">
        <li><b>Company</b></li><br>
        <li><a href="#">Service</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div >
     <p style="font-size:120%; margin-top: 50px;">  <b style="color: rgb(0, 179, 255);">Join a Newsletter</b></p>
      <br>
      <form>
        <label for="">Your Email</label><br><br><br>
        <input type="email" placeholder="Enter Your Email">
        <button>Subscribe</button>
      </form><br><br>
      <a href="#"><img src="../assets/instagram 1.png"></a>
      <a href="#"><img src="../assets/twitter (1) 1.png"></a>
      <a href="#"><img src="../assets/facebook 1.png"></a>
    
    </div><br>
    
    <div class="address">
    
    </div > 
    <div class="contactdetails" style="margin-left: 500px;">
    <div style="float: left;">
        <img src="../assets/location_on.png" style="margin-top: -5px;">
    <pre style="color: white; margin-top: -45px; margin-left: 40px;">
      8819 Ohio St. South Gate,
      CA 90280</pre>
    </div>
    <div style="float: left;">
        <img src="../assets/email.png">
      <p style="color: white; margin-left: 50px; margin-top: -40px;">Lorem Ipsum@gmail.com</p>
    </div>
    <div>
        <img src="../assets/call.png">
      <p style="color: white; margin-top: -40px; margin-left:600px;">+1 386-688-3295</p>
    </div>
    </div>
    
    </div>