<br><br>
<img src="../assets/image 35.png" style="width: 1440px; opacity: 0.9; filter:brightness(40%); position: relative;">
<h1 style=" color:white;font-size: 600%;position: absolute;margin-top: -750px; margin-left: 40px;">The People Connect</h1>
<h1 style=" color:white;font-size: 600%;position: absolute;margin-top: -600px; margin-left: 40px;">Better Impacts!!!</h1>
<a href="#" style="background-color: #1DCB8B; padding: 10px; position: absolute;margin-top: 400px;margin-left: -1400px; text-decoration: none; color: white;font-size: xx-large;">Book a meeting</a>
<div style="position: absolute; margin-top: -200px;">
<div style="float: left; border: 2px solid #1DCB8B; color: #1DCB8B;font-size: 350%; padding: 20px; margin-left: 160px;">People </div>
<div style="float: left;border: 2px solid #1DCB8B;color: #1DCB8B; font-size: 350%; padding: 20px;margin-left: 200px; ">Product </div>
<div style="float: left;border: 2px solid #1DCB8B; color: #1DCB8B; font-size: 350%; padding: 20px;margin-left: 200px;">Mind Set </div>
</div>
<div >
    <div style="padding: 60px; float: left;background-color: #1DCB8B;margin-left: -6px;color: white;">
        <h1>1,00,000 Lakhs
             Gatherings</h1>
    </div>
    <div style=" float: left;background-color: #1DCB8B;padding: 60px;color: white;">
        <h1>500000 Lakh Customer Reach</h1>
    </div>
    <div style="float: left;  background-color: #1DCB8B;padding: 60px;color: white;">
        <h1>Brand - Value- Services</h1>
    </div>
</div>