<div>
   <div style="margin-top: 170px;"> 
    <h1 >
        <span style="color: #1DCB8B; font-size: 340%;"> Placiboo  </span> <span style="font-size: 190% ; background-image: linear-gradient(to right, #1DCB88 ,white);"> On Social </span>

    </h1>
    <h1 ><span style="font-size: 190%;background-image: linear-gradient(to right, #1DCB88 ,white);">Engineering </span></h1>
</div>
<div style="float: right;">
    <img src="../assets/Group 1000003721.png" style="margin-top: -380px;margin-right: 100px;">
</div>
</div>
<img src="../assets/Frame 41100.png">
<div style="height: 440px;">
    <img src="../assets/Vector 4.png" style="position: relative; z-index: -1;">
    <div>
    <h1 style="position: absolute; margin-top: -570px; font-size: 500%;">Our</h1>
    <h1 style="position: absolute; margin-top: -450px; font-size: 500%;">fields</h1> </div>
    <div style="float:left; margin-top: -640px; margin-left: 270px;"> 
    <h1>
       <span style="font-size: 150%;">01 </span> <span style="font-size: 90%;">Education</span>
    </h1>
    <pre style="font-size: 130%;">
1. STEAM Education Models 2.
Localization & Democratization.
Build and Drive simulations and
virtual lab platforms that allow
Insight learning to experiment and
explore Concepts,phenomena or
Logics in both Offline and virtual
environment in cost-effective way.</pre>
</div>
<div style="float:left; margin-top: -640px; margin-left: 620px;">
    <h1>
        <span style="font-size: 150%;">02 </span> <span style="font-size: 90%;">Entrepreneurs & Research</span> </h1>

    <pre style="font-size: 130%;">
We have undived Focus on the
Building and Drive the better eco
System to young budding
Entrepreneurs . We are working to
Localize and Democratize the
Access to Technology and
Innovation floor access to cutting-
edge technology and innovation to
stay competitive in their industry.
This can include software tools,
hardware devices, research and
development resources, and
technology infrastructure. Access to
innovation hubs, incubators, or
accelerators can provide
entrepreneurs with opportuniti
    </pre>
</div>
<div style="float:left; margin-top: -640px; margin-left: 1050px;">
    <h1>
        <span style="font-size: 150%;">03 </span> <span style="font-size: 90%;">Innovation & Datamatics</span> </h1>
    <pre style="font-size: 130%;">
        Incubation and venturing
        models are approaches and
        frameworks that provide support
        and resources to entrepreneurs
        and startups at different stages
        of their development. These
        models aim to foster innovation,
        accelerate growth, and increase
        the likelihood of entrepreneurial
        success.
    </pre>

</div>

</div>
<img src="../assets/image 493.png" style=" opacity: 0.9; filter:brightness(40%); position: relative;">
<h1 style="font-size: 500%; position: absolute; margin-top: -500px;"> <span style="color: white">Driving</span><span style="color: #1DCB88;"> Impacts</span></h1>
<h1 style="font-size: 500%; position: absolute; margin-top: -380px;"> <span style="color: white;">  &</span> <span style="color: #1DCB88;"> Possibilities </span></h1>
<div style="background-color: #1DCB88;height: 500px;width: 1440px;margin-top: -30px;" >
    <div>

        <h1 style="color: white; font-size: 300%;margin-left: 30px;">
            20+
        </h1>
        <h1 style="color: white;font-size: 300%;">
            Years
        </h1>
 
    </div>
    <div style="margin-left: 400px; margin-top: -170px;">

        <h1 style="color: white;font-size: 300%; ">
          15+Domains&
        </h1>
        <h1 style="color: white;font-size: 300%;margin-left: 100px;">
              Industries
        </h1>
 
    </div>
    <div style="margin-left: 900px;margin-top: -170px; ">

        <h1 style="color: white;font-size: 300%;">
        200 + Networks & 
        </h1>
        <h1 style="color: white;font-size: 300%;margin-left: 100px;">
        Connection
        </h1>
 
    </div>

<div style="background-color: #1F313F; float: left; padding: 20px; ;color: white; font-size: 200%;"> Entrepreneurship</div>
<div style="background-color: #1F313F; float: left; padding: 20px; margin-left: 300px;color: white; font-size: 200%;"> Research</div>
<div style="background-color: #1F313F; float: left; padding: 20px; margin-left: 300px;color: white; font-size: 200%;"> Product & Services</div>

<div style="background-color: #1F313F; float: left; padding: 20px; ;color: white; font-size: 200%;margin-top: 100px;"> Client Work Force Deployment</div>
<div style="background-color: #1F313F; float: left; padding: 20px; margin-left: 110px;color: white; font-size: 200%;margin-top: 100px;"> Event Management</div>
</div>
<div>
   <h1 style="color: #1F313F; font-size: 500%;">  Placiboo Area of Focus</h1>
   <img src="../assets/Group 1000003698.png" style="margin-left: 200px;">
   <img src="../assets/Group 1000003699.png" style="margin-left: 360px;"><br><br><br>
   <img src="../assets/Group 1000003700.png" style="margin-left: 200px;">
   <img src="../assets/Group 1000003705.png"style="margin-left: 360px;">
</div>
<div style="background-color: #000000; height:860px;width: 1440px;">
    <h1><span style="color:#1DCB88; font-size: 200%; margin-left: 120px;">  PLACIBOO </span> <span style="color: white;font-size: 180%;">Code </span></h1>
    <h1 style="color: white;font-size: 350%; margin-left: 120px;"> of Work Flow  </h1>
    <img src="../assets/Lingkaran.png" style="margin-left: 1089px;">
    <pre style="color: white; font-size: 215%;margin-top: -600px; line-height: 1.7;">
        We believe and engage our Self on Data Drive Technology
        as a powerful tool for Empowerment . A vision on upliftment
        is like an universal access to opportunities. It recognizes that
        education equips individuals with the knowledge, skills, and
        critical thinking abilities needed to succeed in an evolving
        world. 
        It promotes inclusive and equitable eco systems which can
        localize and democratize and that in turn empower
        individuals , company and communities to reach their full
        potential in solving a problem
    </pre>

</div>
<div class="footer" style="background-color: #151A2C; height: 580px; width: 1440px;">

    <div style="float: left; font-size: 120%;" >
      <pre style="color: whitesmoke; margin-top:150px">
      It is a long established fact that 
      a reader will be distracted by
      the readable content of a page 
      when looking at its layout. The
      point of using Lorem Ipsum is
      that it has a more
      </pre>
    </div>
    <div style="float: left;  ">
     
        <ul style="font-size:120%; margin-top: 50px; ">
          <li><b>Service</b></li><br>
          <li><a href="#">Investor</a></li>
          <li><a href="#">Sponsors</a></li>
          <li><a href="#">Service Providers</a></li>
          <li><a href="#">Vendors</a></li>
          <li><a href="#">Volunteer's</a></li>
          <li><a href="#">NGO's</a></li>
        </ul>
    
    </div>
    <div style="float: left;">
      <ul style="font-size:120%; margin-top: 50px;">
        <li><b>Company</b></li><br>
        <li><a href="#">Service</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div >
     <p style="font-size:120%; margin-top: 50px;">  <b style="color: rgb(0, 179, 255);">Join a Newsletter</b></p>
      <br>
      <form>
        <label for="">Your Email</label><br><br><br>
        <input type="email" placeholder="Enter Your Email">
        <button>Subscribe</button>
      </form><br><br>
      <a href="#"><img src="../assets/instagram 1.png"></a>
      <a href="#"><img src="../assets/twitter (1) 1.png"></a>
      <a href="#"><img src="../assets/facebook 1.png"></a>
    
    </div><br>
    
    <div class="address">
    
    </div > 
    <div class="contactdetails" style="margin-left: 500px;">
    <div style="float: left;">
        <img src="../assets/location_on.png" style="margin-top: -5px;">
    <pre style="color: white; margin-top: -45px; margin-left: 40px;">
      8819 Ohio St. South Gate,
      CA 90280</pre>
    </div>
    <div style="float: left;">
        <img src="../assets/email.png">
      <p style="color: white; margin-left: 50px; margin-top: -40px;">Lorem Ipsum@gmail.com</p>
    </div>
    <div>
        <img src="../assets/call.png">
      <p style="color: white; margin-top: -40px; margin-left:600px;">+1 386-688-3295</p>
    </div>
    </div>
    
    </div>